
*
{
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    min-height: 0;
  }

  window#waybar.top {
    background: transparent;
    /*background-color: rgba(35, 38, 52, 0.9); */
    border-bottom: 0px solid rgb(98, 104, 128);
    border-top: 0px;
    transition-property: background-color;
    transition-duration: .5s;
  }

  window#waybar.bottom {
    background: transparent;
    background-color: rgba(35, 38, 52, 0.9);
    border-top: 3px solid rgb(166, 209, 137);
    transition-property: background-color;
    transition-duration: .5s;
  }

  window#waybar.cava {
    background: transparent;
    border-top: 0px;
  }

  #workspaces button {
    padding: 5;
    color: #c6d0f5;
    margin: 0.25px;
    font-size: 1em;
  }

  #workspaces button.active {
    color: rgba(166, 209, 137, 1);
    padding-left: 10;
    padding-right: 10;
    margin: 1px;
    font-size: 2em;
  }

  #window {
    border-radius: 8px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    background: transparent;
    background-color: rgba(35, 38, 52, 0.8);
    color: #c6d0f5;
  }

  #window.empty {
    background: transparent;
    background-color: rgba(35, 38, 52, 0);
  }
  
  #clock {
    border-radius: 8px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    background: transparent;
    background-color: rgba(35, 38, 52, 0.8);
    color: #c6d0f5;
  }

  #cava {
    color: rgba(166, 209, 137, 1);
  }

  #keyboard-state {
    padding: 5px;
    color:rgb(166, 209, 137);
  }

  #spotify {
    padding: 5px;
    color:#c6d0f5;
  }

  #commands {
    padding: 5px;
    color:#c6d0f5;
  }

  #hardware {
    border-radius: 8px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    background: transparent;
    background-color: rgba(35, 38, 52, 0.8);
    color: #c6d0f5;
  }

  #temperature {
    border-radius: 8px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    background: transparent;
    background-color: rgba(35, 38, 52, 0.8);
    color: #c6d0f5;
  }

  #network {
    border-radius: 8px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    background: transparent;
    background-color: rgba(35, 38, 52, 0.8);
    color: #c6d0f5;
  }

  #wireplumber {
    border-radius: 8px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    background: transparent;
    background-color: rgba(35, 38, 52, 0.8);
    color: #c6d0f5;
  }